{% extends "base.html" %}
{% block title %}Contact | RLNC{% endblock %}

{% block content %}
<section class="contact-top">
  <div class="contact-card">
    <h3>CONTACT(HO)</h3>
    <p>Munduru, West Godavari, AP – 534452</p>
    <p>Email: rlnc5678@gmail.com</p>
    <p>GSTIN (AP): 37ABBFR6104L1Z3</p>
  </div>
</section>
<section class="contact-top">
  <div class="contact-card">
    <h3>CONTACT</h3>
    <p>Apartment/Flat No:01</br>
      Plot Number 4</br>
      Road/Street: Mahur Road</br>
      Nearby Landmark: Firoz Engineering and Mechanical Workshop</br>
      Locality/Sub Locality: Pruthviraj Nagar</br>
      City/Town/Village: Pusad</br>
      District: Yavatmal</br>
      State: Maharashtra</br>
      PIN Code: 445216</p>
    <p>Email: rlnc5678@gmail.com</p>
    <p>GSTIN (MH): 27ABBFR6104L1Z4</p>
  </div>
</section>

<section class="contact-bottom">
  <div class="contact-left">
    <h2>Message Us</h2>
    <p>Fill the form and our team will contact you.</p>
  </div>

  <div class="contact-right">
    <form>
      <input type="text" placeholder="First Name" required>
      <input type="text" placeholder="Last Name" required>
      <input type="email" placeholder="Email" required>
      <textarea placeholder="Message" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
</section>
{% endblock %}
